{#
  Name: menu.html.twig
  Path: cuej/Front/templates/navigation/menu.html.twig
#}

<aside class="cuej-sidebar flex flex-column">
  <h2 class="cuej-sidebar__title">CUEJ - Admin</h2>

  <ul class="cuej-sidebar__links">
    <li><a href="admin/">Dashboard</a></li>
    <li><a href="admin/articles">Articles</a></li>
    <li><a href="admin/categories">Categories</a></li>
    <li><a href="admin/medias">Media library</a></li>
  </ul>
</aside>