{#
  Name: menu.html.twig
  Path: cuej/Front/templates/navigation/menu.html.twig
#}

<aside>
  <h2>Administration</h2>

  <ul>
    <li><a href="admin/">Dashboard</a></li>
    <li><a href="admin/articles">Articles</a>
      <ul>
        <li><a href="admin/blocks">Content</a></li>
        <li><a href="admin/categories">Categories</a></li>
      </ul>
    </li>
    <li><a href="admin/medias">Media library</a></li>
  </ul>
</aside>