{#
  Nom: errors.html.twig
  Path: default/Front/templates/misc/errors.html.twig
#}

{% if erreurs is defined %}
	<ul class="erreurs">
		{% for erreur in erreurs %}
			<li>{{ erreur }}</li>
		{% endfor %}
	</ul>
{% endif %}