{#
  Name: login.html.twig
  Path: default/Front/templates/pages/Users/login.html.twig
#}
{% extends 'index.html.twig' %}

{% block content %}
  <h1>Connexion</h1>

  <form action="./users/process_login" method="post">
    <fieldset>
      <legend>Adresse mail</legend>
      <input type="email" name="email" placeholder="Adresse mail" required>
    </fieldset>

    <fieldset>
      <legend>Mot de passe</legend>
      <input type="password" name="password" placeholder="Mot de passe" required>
    </fieldset>

    <input type="submit" name="user_login" value="Se connecter">
  </form>
{% endblock %}