{#
  Name: login.html.twig
  Path: default/Front/templates/pages/Users/login.html.twig
#}
{% extends 'index.html.twig' %}

{% block content %}
  <h1>Login</h1>

  <form action="users/process_login" method="post">
    <fieldset>
      <legend>Email Address</legend>
      <input type="email" name="email" placeholder="Email Address" required>
    </fieldset>

    <fieldset>
      <legend>Password</legend>
      <input type="password" name="password" placeholder="Password" required>
    </fieldset>

    <input type="submit" name="user_login" value="Login">
  </form>
{% endblock %}
