{#
  Name: index.html.twig
  Path: blog/Back/templates/pages/Admin/index.html.twig
#}
{% extends "index.html.twig" %}

{# Set title #}
{% block title %}Admin{% endblock %}

{# Set content #}
{% block content %}
  <h1>Dashboard</h1>

{% endblock %}
