{#
Name: index.html.twig
Path: cuej/Front/templates/pages/Categories/index.html.twig

Variables:
- {@string} errorCode : Code of the error
- {@string} controllerType: Type of the controller where the error occurred
#}
{% extends "index.html.twig" %}

{# Set title #}
{% block title %}Erreur {{ errorCode }}{% endblock %}

{# Set content #}
{% block content %}
<h1>Erreur {{ errorCode }}</h1>

{% if errorCode == 403 %}
<h2>Vous n'êtes pas autorisé à visualiser cette page</h2>
<p>Si vous pensez qu'il s'agit d'une erreur, merci de contacter un administrateur.</p>
{% endif %}

{% if errorCode == 404 %}
<h2>Cette page n'a pas été trouvée parmis les {{ controllerType }}</h2>
<p>Peut-être qu'il s'agit d'une faute de frappe ?</p>
<p>Si vous êtes sûr que l'adresse interrogée est la bonne, merci de contacter un administrateur.</p>
{% endif %}

{% if errorCode == 405 %}
<h2>Il y a eu une erreur dans votre requête</h2>
<p>Merci de contacter un administrateur.</p>
{% endif %}

{% if errorCode == 500 %}
<h2>Il y a eu une erreur interne au serveur</h2>
<p>Essayez de recharger la page</p>
<p>Si le problème persiste, merci de contacter un administrateur.</p>
{% endif %}

{% endblock %}