{#
Name: index.html.twig
Path: cuej/Front/templates/pages/Categories/index.html.twig

Variables:
- {@string} errorCode : Code of the error
- {@string} controllerType: Type of the controller where the error occurred
#}
{% extends "index.html.twig" %}

{# Set title #}
{% block title %}Erreur
	{{ errorCode }}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="public/front/css/error.css">
{% endblock %}

{# Set content #}
{% block content %}
	<h1 class="title">Erreur
		{{ errorCode }}</h1>

	<img class="error_img" src="public/front/img/svg/picto-sign.svg" alt="">

	{% if errorCode == 403 %}
		<h2 class="error_msg">Vous n'êtes pas autorisé à visualiser cette page</h2>
		<p class="error_desc">Si vous pensez qu'il s'agit d'une erreur, merci de contacter un administrateur.</p>
	{% endif %}

	{% if errorCode == 404 %}
		<h2 class="error_msg">Cette page n'a pas été trouvée parmis les
			{{ controllerType }}</h2>
		<p class="error_desc">Peut-être qu'il s'agit d'une faute de frappe ?</p>
		<p class="error_desc">Si vous êtes sûr que l'adresse interrogée est la bonne, merci de contacter un administrateur.</p>
	{% endif %}

	{% if errorCode == 405 %}
		<h2 class="error_msg">Il y a eu une erreur dans votre requête</h2>
		<p class="error_desc">Merci de contacter un administrateur.</p>
	{% endif %}

	{% if errorCode == 500 %}
		<h2 class="error_msg">Il y a eu une erreur interne au serveur</h2>
		<p class="error_desc">Essayez de recharger la page</p>
		<p class="error_desc">Si le problème persiste, merci de contacter un administrateur.</p>
	{% endif %}

{% endblock %}
