{% extends 'base.html.twig' %}

{% block content %}
  <main>
    <h1>Inscription</h1>

    <form action="?route=user&action=register" method="post">
      <fieldset>
        <legend>Nom d'utilisateur</legend>
        <input type="text" name="username" placeholder="Nom d'utilisateur" required>
      </fieldset>

      <fieldset>
        <legend>Adresse e-mail</legend>
        <input type="email" name="email" placeholder="Adresse e-mail" required>
      </fieldset>

      <fieldset>
        <legend>Mot de passe</legend>
        <input type="password" name="password" placeholder="Mot de passe" required>
      </fieldset>

      <fieldset>
        <legend>Valider le mot de passe</legend>
        <input type="password" name="validate_password" placeholder="Mot de passe" required>
      </fieldset>

      <input type="submit" name="user_register" value="S'inscrire">
    </form>
  </main>
{% endblock %}