.media--d {
  flex-direction: row-reverse;
}
.media--d > .imgandtxt-block--p {
  margin-right: -33%;
  margin-left: 0;
}

@media screen and (max-width: 1024px) {
  .media--d {
    flex-direction: column-reverse;
  }
}
