.quoted {
  padding: 2em 12.4em 1em;
  margin-bottom: 1em;
  position: relative;
}
.quoted__icon {
  filter: var(--fill-filter--primary);
  position: absolute;
  height: 8em;
}
.quoted__icon--left {
  left: 2em;
  top: -1em;
}
.quoted__icon--right {
  transform: rotate(180deg);
  right: 2em;
  bottom: -3em;
}
.quoted__ref {
  position: absolute;
  right: 11em;
  bottom: -1em;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}
.quoted__ref::before {
  content: '';
  display: block;
  background-color: var(--color-primary--darker);
  height: 0.2em;
  position: absolute;
  width: 4em;
  transform: translateX(-110%);
}

@media screen and (max-width: 1024px) {
  .quoted {
    padding: 0;
  }
  .quoted__ref {
    right: unset;
    bottom: -2em;
  }
  .quoted__icon {
    height: 3em;
  }
  .quoted__icon--left {
    left: -2em;
    top: -2em;
  }
}
