.video-block {
  position: relative;
  margin-bottom: 1em;
}
.video-block__video {
  width: 100%;
}
.video-block__legend {
  position: absolute;
  margin-top: 1em;
}
.controls-icon {
  height: 2em;
  margin-top: 1rem;
}
.video-controls {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  display: grid;
  pointer-events: none;
}
.control {
  pointer-events: all;
}
.play-pause-btn--middle {
  opacity: .8;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.vidprogress-bar {
  position: absolute;
  bottom: 6em;
  width: 94%;
  left: 3%;
  cursor: pointer;
}
.bottom-controls {
  align-items: center;
  height: 3em;
  align-self: end;
  padding: 1em 2em;
  gap: 1em;
  color: var(--color-white);
}
.volume-container {
  flex-direction: column-reverse;
  align-items: center;
  position: relative;
}
.volume-bar {
  position: absolute;
  display: none;
  opacity: 0;
  bottom: 3em;
  cursor: pointer;
  width: 3em;
}
.mute-btn:hover + .volume-bar,
.volume-bar:hover {
  display: block;
  opacity: 1;
}
.timecode {
  user-select: none;
  align-items: center;
  height: 100%;
  display: flex;
  margin-top: 0.7rem;
}
.fullscreen-btn {
  position: absolute;
  right: 2em;
}
.play-pauser {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
}