{#
Name: index.html.twig
Path: default/Front/templates/pages/Categories/index.html.twig

Variables:
- {@object} category
  - {@string} name: Category name
#}
{% extends "index.html.twig" %}

{# Set title #}
{% block title %}Home{% endblock %}

{# Set content #}
{% block content %}
  <h1>List of Categories</h1>
  {% if categories %}
    <nav>
      {# Display each category #}
      {% for category in categories %}
        <a href="categories/see/{{ category.id }}">
          <h2>{{ category.name }}</h2>
        </a>
      {% endfor %}
    </nav>
  {% else %}
    <p>No category has been published.</p>
  {% endif %}
{% endblock %}
