@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lexend:400,700&display=swap");

:root {
  --primary-color: #505ec9;
  --primary-dark-color: #414fb2;
  --secondary-color: #32354c;
  --darker-secondary-color: #282b3f;
  --tooltip-color: #b9b365;
  --white: #ededed;
  --red: #e02c2c;

  --font-size: 14px;
}

/* HTML */
* {
  box-sizing: border-box;
  width: fit-content;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  padding-bottom: 15px;
  gap: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lexend", sans-serif;
  margin-bottom: 0;
}

form {
  width: 100%;
}
form > * {
  margin: 15px 0;
}

fieldset {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
}

fieldset legend {
  font-size: 1em;
  font-weight: bold;
}

textarea {
  width: 100%;
  resize: none;
}

button, input[type="submit"] {
  cursor: pointer;
  border: none;
  padding: 15px 30px;
  background-color: var(--secondary-color);
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  transition: opacity 0.2s ease;
}
button:hover, input[type="submit"]:hover {
  opacity: 0.8;
}

/* Blog elements */
.blog__action-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--white);
}
.blog__action-menu.blog__action-menu--small {
  background-color: var(--primary-dark-color);
}

.blog__action-menu li a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.blog__action-menu li a:hover {
  background-color: var(--darker-secondary-color);
}

.blog__action-menu.blog__action-menu--small li a {
  padding: 8px 25px !important;
}
.blog__action-menu.blog__action-menu--small li a:hover {
  background-color: var(--primary-color);
}


.blog__erreur {
  width: 100%;
  margin: 0;
  padding: 20px 40px;
  background-color: var(--red);
  color: white;
  font-weight: bold;
  animation: slideIn .5s ease;
}
@keyframes slideIn {
  from {
    overflow: hidden;
    padding: 0 40px;
    max-height: 0;
  }

  to {
    overflow: hidden;
    padding: 20px 40px;
    max-height: fit-content;
  }
}

.blog-nav {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 25px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.blog-nav .blog-nav__brand {
  font-size: 1.3em;
}

.blog-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

.blog-nav a {
  color: inherit;
  text-decoration: none;
  font-size: 1.15em;
  transition: opacity 0.2s ease;
}
.blog-nav a:hover {
  opacity: .8;
}


/* Tooltips */
.tooltip {
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background-color: var(--tooltip-color);
  font-size: var(--font-size);
  font-weight: normal;
  color: black;
  padding: 8px 12px;
  border: 1px solid var(--darker-secondary-color);
  transition: opacity 0.1s ease;
}
.tooltip:hover {
  opacity: 1;
}

.tooltip .tooltip__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Prism */
.prism-live,
.prism-live .code-toolbar {
  width: 100%;
  height: 300px;
  max-height: 300px;
  overflow: auto;
  border-radius: 0 !important;
}

div.code-toolbar>.toolbar {
  opacity: 1 !important;
  top: 0 !important; right: 0 !important;
  width: 50px;
  height: 30px;
}

div.code-toolbar>.toolbar>.toolbar-item {
  display: inline-block;
  width: 100%;
  height: 100%;
}

div.code-toolbar>.toolbar>.toolbar-item>span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em !important;
  width: 100%;
  height: 100%;
  padding: 0 0 !important;
  border-radius: 0 !important;
  transition: opacity .2s ease;
}
div.code-toolbar>.toolbar>.toolbar-item>span:hover {
  color: #bbb !important;
  background-color: rgba(224,224,224,.2) !important;
  opacity: .5 !important;
}

.line-numbers .line-numbers-rows {
  border-right: 1px solid rgb(153 153 153 / 33%);
}

.line-numbers-rows>span {
  width: 100% !important;
}

.line-numbers-rows>span:before {
  text-align: center !important;
  padding-right: 0 !important;
}