/* Styles for the block creation section */
.block-creation {
  border-left: 1px solid #dddddd;
  padding: 0 30px;
  overflow: auto;
}

/* Styles for the first step section in the block creation */
.block-creation #step-1 > section {
  margin-bottom: 3rem;
}

/* Styles for headings within the first step section */
.block-creation #step-1 > section h2 {
  margin-bottom: 0;
}

/* Styles for the list of created blocks */
.block-creation .created-blocks {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Styles for each created block item */
.block-creation .created-blocks .created-blocks__block {
  padding: 10px 0;
  border-bottom: 1px solid #dddddd;
}

/* Styles for actions within each created block item */
.block-creation .created-blocks .created-blocks__block .actions {
  margin: 0;
  display: flex;
  align-items: center;
}

/* Styles for individual action items within each created block item */
.block-creation .created-blocks .created-blocks__block .actions * {
  margin: 0;
  display: flex;
  flex: 1;
  height: 50px;
  align-items: center;
  justify-content: center;
}

/* Styles for draggable items within ul */
.blocks-draggable {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Styles for each draggable item */
.blocks-draggable__item {
  background-color: #f0f0f0;
  padding: 15px;
  margin: 5px 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  cursor: move;
  border: 1px solid #dddddd;
}

.blocks-draggable__item.dragging {
  opacity: 0.5; /* Reduce opacity while dragging */
  border: none;
}

.blocks-draggable__item.over-dragged {
  border-top: 1px dashed var(--primary);
  border-bottom: none;
}

.blocks-draggable__item.after-dragged {
  border-bottom: 1px dashed var(--primary);
  border-top: none;
}
