{#
  Name: delete.html.twig
  Path: cuej/Back/templates/pages/Categories/delete.html.twig
#}
{% extends "index.html.twig" %}

{# Set title #}
{% block title %}Categories - Deletion{% endblock %}

{# Set content #}
{% block content %}
  <h1>Delete a Category</h1>
  <p>Are you sure you want to delete the Category "{{ category.name }}"? This action is irreversible.</p>
  <form action="admin/delete_category/{{ category.id }}" method="post">
    <a href="admin/categories">Cancel</a>
    <input type="submit" value="Delete" />
  </form>
{% endblock %}