:root {
  --color-primary: #EF7734;
  --color-primary--dark: #6A3432;
  --color-primary--darker: #64201E;
  --fill-filter--primary: invert(53%) sepia(92%) saturate(1596%) hue-rotate(341deg) brightness(99%) contrast(89%);
}
