:root {
  --color-primary: #34A9B9;
  --color-primary--dark: #055452;
  --color-primary--darker: #002B2A;
  --fill-filter--primary: invert(56%) sepia(21%) saturate(1257%) hue-rotate(139deg) brightness(99%) contrast(87%);
}
