.btn, input[type="submit"], input[type="button"], button {
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
  text-decoration: none !important;
  display: inline-block;
  text-align: center;
  width: fit-content;
  margin-top: 1rem;
  background-color: var(--secondary);
  color: var(--white) !important;
}
.btn:hover, input[type="submit"]:hover, input[type="button"]:hover, button:hover {
  background-color: var(--secondary-dark);
}

.btn--primary {
  color: var(--white) !important;
  background-color: var(--primary);
}
.btn--primary:hover {
  color: var(--white) !important;
  background-color: var(--primary-dark);
}

.btn--danger {
  color: var(--white) !important;
  background-color: var(--danger);
}
.btn--danger:hover {
  color: var(--white) !important;
  background-color: var(--danger-dark);
}