/* Forms */
form {
  padding: 15px 0;
}

form, form > section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

/* Inputs */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="search"],
textarea,
select {
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  border: 1px solid #dddddd;
  color: var(--black);
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

textarea {
  min-height: 200px;
  resize: none;
}

label {
  font-size: 1rem;
  margin-bottom: .5rem;
  color: #777777;
}

form img {
  width: 50%;
  padding: 1rem;
  border: 1px solid #dddddd;
  border-radius: 5px;
}