.cuej__media__choose_existing__preview,
.cuej__media {
  width: 200px;
  height: 200px;
  background-color: #3b3b3b;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  overflow: hidden;
  background-image: var(--image);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: outline .2s ease;
}

.cuej__media__choose_existing {
  padding: 10px 0;
}
.cuej__media__choose_existing label {
  display: block;
  cursor: pointer;
}

.cuej__media__choose_existing summary {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  margin-bottom: 1rem;
}

.cuej__media__choose_existing input[type="radio"] {
  display: none;
}

/* Add an outline to the label when its linked input is checked */
.cuej__media__choose_existing input[type="radio"]:checked + label .cuej__media__choose_existing__preview {
  outline: 5px solid var(--primary);
}

.cuej__media img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cuej__media .media-actions {
  transform: translateY(100%);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  color: var(--white);
  z-index: 1;
  transition: transform .2s ease;
}
.cuej__media:hover .media-actions {
  transform: translateY(0);
}