/* Table */
table {
  border-collapse: collapse;
  width: 100%;
}

th {
  padding: 15px 20px;
  background-color: #e6e6e6;
}

td {
  padding: 10px 20px;
}

td, th {
  border: 1px solid #cfcfcf;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}