{#
  Name: menu.html.twig
  Path: blog/Front/templates/navigation/menu.html.twig
#}

<aside class="blog-sidebar flex flex-column">
  <h2 class="blog-sidebar__title">BLOG - Admin</h2>

  <ul class="blog-sidebar__links">
    <li><a href="admin/">Dashboard</a></li>
    <li><a href="admin/articles">Articles</a></li>
    <li><a href="admin/categories">Categories</a></li>
    <li><a href="admin/medias">Media library</a></li>
  </ul>
</aside>