{#
  Name: create.html.twig
  Path: default/Back/templates/pages/Categories/create.html.twig
#}
{% extends "index.html.twig" %}

{# Set title #}
{% block title %}Chapitre - Créer{% endblock %}

{# Set content #}
{% block content %}

  <h1>Créer un chapitre</h1>

  <form action="admin/create_category" method="post" enctype="multipart/form-data">
    <section>
      <label for="name">Nom du chapitre</label>
      <input type="text" name="name" id="name" placeholder="Nom du chapitre" required>
    </section>

    <section>
      <label for="description">Description du chapitre</label>
      <textarea name="description" id="description" placeholder="Description du chapitre" required></textarea>
    </section>

    <section>
      <label for="image">Image du chapitre</label>
      <input type="file" name="image" id="image" accept=".png, .jpg, .jpeg, .gif, .webp, .svg" required>
    </section>

    <input type="submit" value="Créer le chapitre">
  </form>

{% endblock %}