{#
  Name: delete.html.twig
  Path: default/Back/templates/pages/Categories/delete.html.twig
#}
{% extends "index.html.twig" %}

{# Set title #}
{% block title %}Chapitres - Suppression{% endblock %}

{# Set content #}
{% block content %}
  <h1>Suppression d'un chapitre</h1>
  <p>Êtes-vous sûr de vouloir supprimer le chapitre "{{ category.name }}" ? Cette action est irréversible.</p>
  <form action="admin/delete_category/{{ category.id }}" method="post">
    <a href="admin/categories">Annuler</a>
    <input type="submit" value="Supprimer" />
  </form>
{% endblock %}