/* General form styles */
form {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

form > section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

/* Input styles */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="search"],
textarea,
select {
  padding: 15px 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  color: var(--black);
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

/* File input styles */
input[type="file"] {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 20px;
}

/* File input button styles */
input[type="file"]::file-selector-button,
input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
  padding: 15px 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  color: var(--black);
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

/* Textarea styles */
textarea {
  min-height: 200px;
  resize: none;
}

/* Label styles */
label {
  font-size: 1rem;
  margin-bottom: .5rem;
  color: #777777;
}

/* Image styles within a form */
form img,
form video,
form audio {
  width: 50%;
  padding: 1rem;
  border: 1px solid #dddddd;
  border-radius: 5px;
}
