.footer-nav {
  height: 23vh;
  padding: 3em 11em 0 6em;
  color: var(--color-white);
  background-color: var(--color-primary--dark);
}

.footer-nav__category[aria-current="step"],
.footer-nav__article[aria-current="page"],
.footer-nav__article:hover,
.footer-nav__category:hover {
  color: var(--color-primary);
  transition: color .3s;
}

.footer-nav>.col:first-child {
  margin-right: 3em;
}

.footer-nav__article {
  font-weight: 700;
}
