:root {
  --color-black: #000000;
  --color-white: #FFFFFF;

  --color-primary: #BBBBBB;
  --color-primary--dark: #777777;
  --color-primary--darker: #333333;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  color: var(--color-darker);
  font-family: 'Merriweather Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
