.header-nav {
  position: fixed;
  top: 1.2em;
  height: 4.5rem;
  transition: top .3s ease-in-out;
  margin-left: -3.5em;
}
.header-nav--small {
  top: -5rem;
}

.header-nav__category {
  width: 2.4em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .2em;
  background-color: var(--color-white);
}
.header-nav__category>img {
  width: 3rem;
  transition: all .2s;
}
.header-nav__home-btn {
  position: relative;
  margin-right: 1em;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  background-color: var(--color-white);
  padding: .8em;
  aspect-ratio: 1/1;
}
.header-nav__home-btn>.header-nav__home {
  width: 2.5rem;
}
.header-nav__category:nth-child(2) {
  border-radius: 15px 0 0 15px;
}
.header-nav__category:nth-child(8) {
  border-radius: 0 15px 15px 0;
}
.header-nav__category::before {
  content: "";
  position: absolute;
  top: 25%;
  right: -.08rem;
  z-index: 1;
  height: 50%;
  width: .16rem;
  background-color: var(--color-black);
}
.header-nav__category:nth-child(8)::before {
  display: none;
}
.header-nav__category:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), var(--color-primary);
}
.header-nav__category:hover>img,
.header-nav__category[aria-current="step"]:hover>img {
  filter: invert() brightness(.6);
}
.header-nav__category[aria-current="step"] {
  background-color: var(--color-primary);
}
.header-nav__category[aria-current="step"]>img {
  filter: invert();
}
.header-nav__category::after {
  text-align: center;
  display: block;
  position: absolute;
  top: 25%;
  color: var(--color-white);
  font-size: 45%;
}
.header-nav__category:nth-child(2):hover:after {
  content: "Se frayer un chemin";
}
.header-nav__category:nth-child(4):hover:after {
  content: "Premiers contacts";
}
.header-nav__category:nth-child(6):hover:after {
  content: "Vies en suspens";
}
.header-nav__category:last-of-type:hover:after {
  content: "Nouveaux départs";
}

.header-nav__list {
  display: none;
}
.header-nav__category[aria-current="step"]+.header-nav__list {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 3.5em;
  top: 120%;
  height: 2.5rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  white-space: nowrap;
  border-radius: 20px;
  padding: .5em 1.5em;
  font-weight: 700;
}
.header-nav__list>li {
  display: flex;
  position: relative;
  transition: color .2s;
}
.header-nav__list>li::after {
  content: "";
  top: 25%;
  position: absolute;
  border-radius: 100%;
  right: -2em;
  display: block;
  background-color: var(--color-white);
  height: .75rem;
  aspect-ratio: 1/1;
}
.header-nav__list>li:hover,
.header-nav__list>li>a[aria-current="page"] {
  color: var(--color-primary--darker);
}
.header-nav__list>li:last-child::after {
  display: none;
}
