.header-nav {
  position: fixed;
  z-index: 1;
  top: 2vh;
  align-items: center;
  transform: translateX(calc(-50% - 3em));
}

.header-nav__home-btn {
  background-color: var(--color-white);
  margin-right: 4em;
}

.header-nav--small {}

.header-nav__list {
  display: none;
}

.header-nav__category {
  padding: .25em .5em;
}

.header-nav__home {
  height: 2.5rem;
}

.header-nav__category>img {
  height: 2.5rem;
}

.header-nav__category:hover,
.header-nav__category[aria-current="step"] {
  background-color: var(--color-primary);
}

.header-nav__category:hover>img,
.header-nav__category[aria-current="step"]>img {
  filter: invert();
}

#active-category+.header-nav__list {
  position: absolute;
  display: flex;
}
