body {
  font-size: 20px;
  font-family: 'Merriweather Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 1280px) {
  body {
    font-size: 16px;
  }
}

h1,
.fs-1 {
  font-family: 'Catamaran', 'Palanquin', sans-serif;
  font-size: 4em;
  font-weight: 800;
  text-shadow: black 0 0 .25em;
}
h2,
.fs-2 {
  font-family: 'Catamaran', 'Palanquin', sans-serif;
  font-size: 2em;
  font-weight: 800;
}
h3,
.fs-3 {
  font-family: 'Catamaran', 'Palanquin', sans-serif;
  font-size: 1.5em;
  font-weight: 800;
}
p {
  line-height: 140%;
  font-weight: 300;
}
blockquote {
  font-size: 1.6em;
  font-weight: 700;
  line-height: 125%;
}

.fs-i {
  font-style: italic;
}

.shadowed {
  text-shadow: black 0 0 .2em;
}
