.container {
  margin: auto;
  max-width: 1450px;
}
.contained--small {
  padding: 0 8rem;
}

.full-width {
  width: 100vw;
}

.row {
  display: flex;
}
.col {
  display: flex;
  flex-direction: column;
}

.jc-sa {
  justify-content: space-around;
}
.jc-sb {
  justify-content: space-between;
}
.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

.gap-1 {
  gap: 1em;
}
.gap-2 {
  gap: 2.4em;
}
.gap-3 {
  gap: 3em;
}

.rad-15 {
  overflow: hidden;
  border-radius: 15px;
}

.center-text {
  text-align: center;
}
.center-x {
  left: 50%;
  transform: translateX(-50%);
}
.center-y {
  top: 50%;
  transform: translateY(-50%);
}

.hidden {
  display: none;
}

.on-top {
  z-index: 666;
}
