@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500;800&family=Merriweather+Sans:ital,wght@0,300;0,700;1,300;1,400;1,700&family=Montserrat:wght@800&display=swap');

@import '_reset.css';

@import '_globals.css';
@import '_utils.css';

/* @import '_fonts.css'; */
@import '_typography.css';

@import '_header.css';
@import '_footer.css';

.land {
  height: 100vh;
  width: 100%;
  position: relative;
}

.land__foreground {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.land__foreground--videoplay {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 1s ease;
}
.land__foreground--videoplay .site-title {
  transform: translateX(-5rem);
  opacity: 0;
}
.land__foreground--videoplay .site-scroll-indicator {
  opacity: 0;
  transform: translateY(5rem);
}
.land__foreground--videoplay .video-controls #play-pause-btn {
  position: absolute;
  bottom: 2rem;
  left: 3rem;
  width: 3.5rem;
}
.land__foreground--videoplay .video-controls #fullscreen-btn {
  position: absolute;
  bottom: 2rem;
  right: 3rem;
  width: 3.5rem;
  display: block;
}

.land__foreground .site-title {
  width: 20rem;
  margin-left: -7rem;
  transition: transform 1s ease, opacity .5s ease;
}

.land__foreground .site-scroll-indicator {
  position: absolute;
  color: white;
  bottom: 4rem;
  font-size: 2rem;
  transition: opacity .5s ease, transform 1s ease;
}


.land__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: 0;
}

.video-controls {
  width: fit-content;
}
.video-controls #play-pause-btn {
  width: 6rem;
}
.video-controls #play-pause-btn.paused .play {
  display: block;
}
.video-controls #play-pause-btn.paused .pause {
  display: none;
}

.video-controls #play-pause-btn.played .play {
  display: none;
}
.video-controls #play-pause-btn.played .pause {
  display: block;
}

.video-controls #play-pause-btn img,
.video-controls #fullscreen-btn img {
  width: 100%;
}

.video-controls #fullscreen-btn {
  display: none;
}

/* Chapter Selector */
.selector {
  display: flex;
  margin: 0;
  padding: 0;
}
.selector .selector__chapter {
  display: flex;
  flex: 1;
  width: calc(100% / 4);
  height: 42rem;
}
.selector .selector__chapter a {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  flex: 1;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  background-blend-mode: multiply;
  filter: grayscale(0.6);
  background-image: var(--background);
  background-color: #cdcdcd;
  background-size: 330%;
  background-position: center;
  background-repeat: no-repeat;

  text-decoration: none;
  color: white;
  transition: background-size .5s ease, background .5s ease;
  padding: 1rem;
}
.selector .selector__chapter a:hover {
  background-color: #4a4a4a;
  background-size: 360%;
}


.selector__icon-img {
  width: 50%;
}
.selector__chapter-name {
  width: 100%;
  word-wrap: break-word;
  text-align: center;
  transform: translateY(5rem);
  transition: transform .5s ease;
  text-shadow: black 0 0 0.8em;
}

.selector__chapter-description {
  width: 100%;
  word-wrap: break-word;
  text-align: center;
  margin: 2rem 0 0.5rem;
  min-height: 7rem;
  transform: translateY(10rem);
  transition: transform .5s ease;
}

.selector .selector__chapter a:hover .selector__chapter-description,
.selector .selector__chapter a:hover .selector__chapter-name {
  transform: translateY(0);
}