@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500;800&family=Merriweather+Sans:ital,wght@0,300;0,700;1,300;1,400;1,700&family=Montserrat:wght@800&display=swap');

@import '_reset.css';

@import '_globals.css';
@import '_utils.css';

/* @import '_fonts.css'; */
@import '_typography.css';

@import '_header.css';
@import '_footer.css';

main {
  background-color: black;
}

.land {
  height: 110vh;
  margin-bottom: 0;
  width: 100%;
  position: relative;
  transition: all .3s;
}

.land__foreground {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.site-title {
  position: absolute;
  width: 20vw;
  top: 20vh;
  left: 10vw;
  transition: transform 1s ease, opacity .5s ease;
}
.land__baseline {
  color: white;
  position: absolute;
  top: calc(20vh + 6.5vw);
  left: 10vw;
  font-size: 1.5vw;
  transition: transform 1s ease, opacity .5s ease;
}
.site-scroll-indicator>img {
  cursor: pointer;
  width: 6vw;
}
.video-controls {
  width: fit-content;
}
#play-pause-btn>img,
#fullscreen-btn>img {
  width: 6vw;
}
#fullscreen-btn {
  display: none;
}
#play-pause-btn.paused>.play {
  display: block;
}
#play-pause-btn.paused>.pause {
  display: none;
}
#play-pause-btn.played>.play {
  display: none;
}
#play-pause-btn.played>.pause {
  display: block;
}

.land__foreground--videoplay {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 1s ease;
}
.land__foreground--videoplay>.site-title,
.land__foreground--videoplay>.land__baseline {
  transform: translateX(-5rem);
  opacity: 0;
}
.land__foreground--videoplay>.site-scroll-indicator {
  opacity: 0;
  transform: translateY(5rem);
}
.land__foreground--videoplay>.video-controls>#play-pause-btn {
  position: absolute;
  bottom: 2vw;
  left: 3vw;
  width: 6vw;
}
.land__foreground--videoplay>.video-controls>#fullscreen-btn {
  position: absolute;
  bottom: 2vw;
  right: 3vw;
  width: 6vw;
  display: block;
}
.site-scroll-indicator {
  position: absolute;
  color: white;
  bottom: 4rem;
  font-size: 2rem;
  transition: opacity .5s ease, transform 1s ease;
}
@keyframes blink {
  0%,100% {opacity: 1;}
  50% {opacity: 0;}
}
.land__foreground--blink {
  animation: blink 1s ease-in-out infinite;
}

.land__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: 0;
  background-image: url('https://www.cuej.info/mini-sites/migrations/public/front/img/video_poster.png');
  background-size: cover;
}

.chapters {
  position: relative;
  scroll-margin: -2.5vw;
  z-index: 1;
  aspect-ratio: 384 / 201;
  clip-path: polygon(0% 13.96%, 25.55% 4.99%, 31.91% 3.53%, 37.6% 5.52%, 50.34% 5.37%, 54.61% 6.26%, 69.72% 1.64%, 75.31% 0.09%, 91.82% 3.14%, 95.26% 2.31%, 99.9% 2.3%, 100% 86.92%, 96.57% 85.75%, 86.15% 87.16%, 75.99% 83.31%, 62.47% 87.33%, 54.27% 90.15%, 49.45% 88.72%, 43.23% 89.57%, 33.99% 86.75%, 24.67% 88.08%, 18.49% 91.20%, 0% 98.04%);
}
.disclaimer {
  display: none;
}

.selector {
  width: 100%;
  height: 100%;
}
.selector__chapter-name {
  position: absolute;
  display: none;
  top: 20%;
  left: 20%;
  text-align: center;
  font-size: 4vw;
  color: var(--color-white);
  text-shadow: 0 .15em #0003;
}
.selector__chapter-name.active {
  display: block;
}
.selector__description {
  position: absolute;
  display: none;
  bottom: 72%;
  right: 13%;
  width: 17%;
  font-size: 1vw;
  color: var(--color-white);
  font-weight: bold;
  text-shadow: .1em .1em .1em #0007;
}
.selector__description.active {
  display: block;
}
.selector__path {
  position: absolute;
  top: 40%;
  width: 50%;
  height: 40%;
}
.selector__icon {
  position: absolute;
  height: 10%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  opacity: .4;
  transition: all .3s ease-in-out;
}
.selector__icon:nth-of-type(1) {
  top: 56%;
  left: 18%;
}
.selector__icon:nth-of-type(2) {
  top: 9%;
  left: 41%;
}
.selector__icon:nth-of-type(3) {
  top: 81%;
  left: 85.5%;
}
.selector__icon:nth-of-type(4) {
  top: 15%;
  left: 118%;
}
.selector__icon-img {
  opacity: 0;
  width: 0;
  position: absolute;
  transition: all .3s ease-in-out;
}
.selector__icon:nth-of-type(2)>.selector__icon-img {
  top: -2.7vw;
  left: -3vw;
}
.selector__icon.active {
  height: 45%;
  margin-top: -7%;
  margin-left: -7%;
  opacity: 1;
}
.selector__icon.active>.selector__icon-img {
  width: 6vw;
  opacity: 1;
}
.selector__icon:nth-of-type(2).active>.selector__icon-img{
  width: 11.5vw;
}
.selector__lechemin {
  position: absolute;
  left: 20%;
  width: 100%;
  height: 100%;
}
.selector__details {
  position: absolute;
  left: 70%;
  top: 30%;
}
.selector__illustration {
  position: relative;
  display: block;
  aspect-ratio: 69/82;
  object-fit: cover;
  border-radius: 2vw;
  width: 45%;
  box-shadow: .5vw .75vw #0007;
  cursor: pointer;
  transition: all .3s;
}
.selector__illustration:nth-of-type(1) {
  width: 55%;
  z-index: 4;
}
.selector__illustration:nth-of-type(n + 2) {
  margin-top: -50%;
}
.selector__illustration:nth-of-type(n + 2):hover {
  transform: rotate(12.5deg);
}
.selector__illustration:nth-of-type(2) {
  right: -15%;
  z-index: 3;
}
.selector__illustration:nth-of-type(3) {
  right: -20%;
  z-index: 2;
}
.selector__illustration:nth-of-type(4) {
  right: -25%;
  z-index: 1;
}
.selector__background {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1) blur(1vh);
  z-index: -1;
  transition: opacity .3s ease-in-out;
}
.selector__background.active {
  opacity: 1;
}

.home-separator {
  position: relative;
  width: 102%;
  left: -1%;
  margin: -9vw 0;
  display: block;
  z-index: 2;
}

.footer-nav {
  padding-top: 9vw;
}

@media screen and (orientation: portrait) {
  .site-title {
    width: 50vw;
  }
  .land__baseline {
    top: calc(20vh + 16.5vw);
    font-size: 4vw;
  }

  #play-pause-btn>img,
  #fullscreen-btn>img,
  #fullscreen-btn,
  #fullscreen-btn>img {
    width: 6em !important;
  }

  .site-scroll-indicator {
    bottom: 0;
  }
  .site-scroll-indicator>img {
    width: 3em;
  }

  .chapters {
    background-color: black;
  }
  .chapters>* {
    display: none;
  }
  .chapters>.disclaimer {
    display: block;
    position: relative;
    top: 21vw;
    color: var(--color-white);
    text-align: center;
  }
}
