@import '_reset.css';


/*
 ██████╗ ██╗      ██████╗ ██████╗  █████╗ ██╗
██╔════╝ ██║     ██╔═══██╗██╔══██╗██╔══██╗██║
██║  ███╗██║     ██║   ██║██████╔╝███████║██║
██║   ██║██║     ██║   ██║██╔══██╗██╔══██║██║
╚██████╔╝███████╗╚██████╔╝██████╔╝██║  ██║███████╗
 ╚═════╝ ╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
*/

a {
  color: inherit;
  text-decoration: none;
}

/* :root {
  --color-primary: #000000;
  --color-primary-dark: #000000;
  --color-primary-light: #000000;

  --color-background-dark: #000000;
  --color-background-light: #000000;

  --color-accent: #000000;
  --color-accent-dark: #000000;

  --color-text: #000000;
  --color-text-alt: #000000;
} */

body {
  font-size: 20px;
  overflow-x: hidden;
}

h1, .fs-1 {
  font-size: 4rem;
}
h2, .fs-2 {
  font-size: 2rem;
}

/*
██╗   ██╗████████╗██╗██╗     ██╗████████╗██╗███████╗███████╗
██║   ██║╚══██╔══╝██║██║     ██║╚══██╔══╝██║██╔════╝██╔════╝
██║   ██║   ██║   ██║██║     ██║   ██║   ██║█████╗  ███████╗
██║   ██║   ██║   ██║██║     ██║   ██║   ██║██╔══╝  ╚════██║
╚██████╔╝   ██║   ██║███████╗██║   ██║   ██║███████╗███████║
 ╚═════╝    ╚═╝   ╚═╝╚══════╝╚═╝   ╚═╝   ╚═╝╚══════╝╚══════╝
*/

.container {
  margin: auto;
  max-width: 1200px;
}
.full-width {
  width: 100vw;
}

.row {
  display: flex;
}
.col {
  display: flex;
  flex-direction: column;
}
.jc-sa {
  justify-content: space-around;
}
.ai-c {
  align-items: center;
}
.gap-1 {
  gap: 1em;
}

.center-x {
  left: 50%;
  transform: translateX(-50%);
}
.center-y {
  top: 50%;
  transform: translateY(-50%);
}

.hidden {
  display: none;
}

/*
██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗
██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
*/

.header-nav {
  background-color: white;
  position: fixed;
  z-index: 1;
}

/*
███╗   ███╗ █████╗ ██╗███╗   ██╗
████╗ ████║██╔══██╗██║████╗  ██║
██╔████╔██║███████║██║██╔██╗ ██║
██║╚██╔╝██║██╔══██║██║██║╚██╗██║
██║ ╚═╝ ██║██║  ██║██║██║ ╚████║
╚═╝     ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝
*/

/*
╔═╗╔═╗╔═╗╦ ╦╔═╗╦╦
╠═╣║  ║  ║ ║║╣ ║║
╩ ╩╚═╝╚═╝╚═╝╚═╝╩╩═╝
*/

.land {
  height: 100vh;
  width: 100vw;
}

.land__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}

/*
╔═╗╦═╗╔╦╗╦╔═╗╦  ╔═╗
╠═╣╠╦╝ ║ ║║  ║  ║╣
╩ ╩╩╚═ ╩ ╩╚═╝╩═╝╚═╝
*/

.intro {
  color: white;
  position: relative;
  display: grid;
  align-content: end;
  height: 85vh;
}
.intro__image {
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}
.intro__description {
  margin-bottom: 3em;
}

/*
███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗
██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
█████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝
*/

.footer-nav {
  height: 30vh;
  background-color: cadetblue;
}

/* test */
.testing-content {
  height: 150vh;
  background-color: antiquewhite;
}
