{#
  Name: create.html.twig
  Path: default/Back/templates/pages/Articles/create.html.twig
#}
{% extends "index.html.twig" %}

{# Set title #}
{% block title %}Articles{% endblock %}

{# Set content #}
{% block content %}

  <h1>Créer un article</h1>

  <form action="admin/articles/process_create" method="post">

  </form>

{% endblock %}