{#
  Name: create.html.twig
  Path: default/Back/templates/pages/Articles/create.html.twig
#}
{% extends "index.html.twig" %}

{# Set title #}
{% block title %}Articles{% endblock %}

{# Set content #}
{% block content %}

  <h1>Créer un article</h1>

  <form action="admin/create_article" method="post">
    <fieldset>
      <legend>Titre de l'article</legend>
      <input type="text" name="title" placeholder="Titre de l'article" required>
    </fieldset>

    <fieldset>
      <legend>Description de l'article</legend>
      <textarea name="description" placeholder="Description de l'article" required></textarea>
    </fieldset>

    <fieldset>
      <legend>Image de l'article</legend>
      <input type="file" name="image" accept=".png, .jpg, .jpeg, .gif, .webp, .svg" required>
    </fieldset>

    <fieldset>
      <legend>Catégorie de l'article</legend>
      <select name="category" required>
        {% for category in categories %}
          <option value="{{ category.getId() }}">{{ category.getName() }}</option>
        {% endfor %}
      </select>
    </fieldset>

    <fieldset>
      <legend>Tags de l'article (séparés par une virgule)</legend>
      <input type="text" name="tags" placeholder="tag1, tag2, tag3..." required>
    </fieldset>

    <input type="submit" value="Créer l'article">
  </form>

{% endblock %}