{#
  Name: create.html.twig
  Path: default/Back/templates/pages/Articles/create.html.twig
#}
{% extends "index.html.twig" %}

{# Set title #}
{% block title %}Articles - Créer{% endblock %}

{# Set content #}
{% block content %}

  <h1>Créer un article</h1>

  <form action="admin/create_article" method="post" enctype="multipart/form-data">
    <section>
      <label for="title">Titre de l'article</label>
      <input type="text" name="title" id="title" placeholder="Titre de l'article" required>
    </section>

    <section>
      <label for="description">Description de l'article</label>
      <textarea name="description" id="description" placeholder="Description de l'article" required></textarea>
    </section>

    <section>
      <label for="image">Image de l'article</label>
      <input type="file" name="image" id="image" accept=".png, .jpg, .jpeg, .gif, .webp, .svg" required>
    </section>

    <section>
      <label for="category_id">Catégorie de l'article</label>
      <select name="category_id" id="category_id" required>
        {% for category in categories %}
          <option value="{{ category.getId() }}">{{ category.getName() }}</option>
        {% endfor %}
      </select>
    </section>

    <section>
      <label for="rags">Tags de l'article (séparés par une virgule)</label>
      <input type="text" name="tags" id="tags" placeholder="tag1, tag2, tag3..." required>
    </section>

    <input type="submit" value="Créer l'article">
  </form>

{% endblock %}