{#
  Name: delete.html.twig
  Path: default/Back/templates/pages/Articles/delete.html.twig
#}
{% extends "index.html.twig" %}

{# Set title #}
{% block title %}Articles - Suppression{% endblock %}

{# Set content #}
{% block content %}
  <h1>Suppression d'un article</h1>
  <p>Êtes-vous sûr de vouloir supprimer l'article "{{ article.title }}" ? Cette action est irréversible.</p>
  <form action="admin/delete_article/{{ article.getId() }}" method="post">
    <a href="admin/articles">Annuler</a>
    <input type="submit" value="Supprimer" />
  </form>
{% endblock %}