{#
  Name: delete.html.twig
  Path: blog/Back/templates/pages/Articles/delete.html.twig
#}
{% extends "index.html.twig" %}

{# Set title #}
{% block title %}Articles - Deletion{% endblock %}

{# Set content #}
{% block content %}
  <h1>Delete an Article</h1>
  <p>Are you sure you want to delete the article "{{ article.title|raw }}"? This action is irreversible.</p>
  <form action="admin/delete_article/{{ article.id }}" method="post">
    <a href="admin/articles">Cancel</a>
    <input type="submit" value="Delete" />
  </form>
{% endblock %}
