{#
Name: index.html.twig
Path: cuej/Front/templates/pages/Categories/index.html.twig

Variables:
- {@object} category
  - {@string} name: Category name
#}
{% extends "index.html.twig" %}

{# Set title #}
{% block title %}Categories{% endblock %}

{# Set content #}
{% block content %}
<section class="land">
  <h1>Titre du site</h1>
  <video class="land__video" controls>
    <source src="public/front/introvid.mp4" type="video/mp4" />
    Votre navigateur ne peut pas lire la vidéo mais vous pouvez toujours la
    <a href="public/front/introvid.mp4"> télécharger</a>
  </video>
  <a href="#chapitres">🢃</a>
</section>
<section id="chapitres">
  {% if categories %}
  <nav>
    {# Display each categories #}
    {% for category in categories %}
    <a href="categories/see/{{ category.id }}">
      <h2>{{ category.name }}</h2>
    </a>
    {% endfor %}
  </nav>
  {% else %}
  <p>Créez une catégorie pour l'afficher ici.</p>
  {% endif %}
</section>
{% endblock %}
