{#
Name: index.html.twig
Path: cuej/Front/templates/pages/Categories/index.html.twig

Variables:
- {@object} category
  - {@string} name: Category name
#}
{% extends "index.html.twig" %}

{# Set title #}
{% block title %}Categories{% endblock %}

{# Set content #}
{% block content %}
<h1>Toutes les categories</h1>
{% if categories %}
<nav>
  {# Display each categories #}
  {% for category in categories %}
  <a href="categories/see/{{ category.id }}">
    <h2>{{ category.name }}</h2>
  </a>
  {% endfor %}
</nav>
{% else %}
<p>Créez une catégorie pour l'afficher ici.</p>
{% endif %}
{% endblock %}