{#
  Name: errors.html.twig
  Path: blog/Front/templates/misc/errors.html.twig
#}

{% if errors is defined %}
	<ul class="infobox errors">
		{% for error in errors %}
			<li>{{ error }}</li>
		{% endfor %}
	</ul>
{% endif %}