{#
  Name: messages.html.twig
  Path: default/Front/templates/misc/messages.html.twig
#}

{% if messages is defined %}
	<ul class="messages">
		{% for message in messages %}
			<li>{{ message }}</li>
		{% endfor %}
	</ul>
{% endif %}