{#
Custom block : Caroussel1
#}
<style>
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .items2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
  }

  .items2 .item2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
  }

  .item2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .item2.active1 {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  }

  .item2.prev2 {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
  }

  .item2.next2 {
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
  }

  .items2 .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    z-index: 100;
  }

  .button-container .button2 {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
  }

  .button-container .button2:hover {
    opacity: 1;
  }

  .button-container .button2:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    z-index: -99;
  }

  .button-container .button2:nth-child(1) {
    float: left;
  }

  .button-container .button2:nth-child(2) {
    float: right;
  }
</style>
<div class="items2">
  <div class="item2 active1">
    <img src="public/img/caroussel2/Activité 3.JPG" alt="">
  </div>
  <div class=" item2 next2">
    <img src="public/img/caroussel2/Activité 1.JPG" alt="">
  </div>
  <div class="button-container">
    <div class="button2"><i class="fas fa-angle-left"></i></div>
    <div class="button2"><i class="fas fa-angle-right"></i></div>
  </div>
</div>
<script>
  const slider2 = document.querySelector(".items2");
  const slides2 = document.querySelectorAll(".item2");
  const button2 = document.querySelectorAll(".button2");

  let current2 = 0;
  let prev2 = 1;
  let next2 = 1;

  for (let i = 0; i < button2.length; i++) {
    button2[i].addEventListener("click", () => i == 0 ? gotoPrev2() : gotoNext2());
  }

  const gotoPrev2 = () => current2 > 0 ? gotoNum2(current2 - 1) : gotoNum2(slides2.length - 1);

  const gotoNext2 = () => current2 < 1 ? gotoNum2(current2 + 1) : gotoNum2(0);

  const gotoNum2 = number2 => {
    current2 = number2;
    prev2 = current2 - 1;
    next2 = current2 + 1;

    for (let i = 0; i < slides2.length; i++) {
      slides2[i].classList.remove("active1");
      slides2[i].classList.remove("prev2");
      slides2[i].classList.remove("next2");
    }

    if (next2 == 2) {
      next2 = 0;
    }

    if (prev2 == -1) {
      prev2 = 1;
    }

    slides2[current2].classList.add("active1");
    slides2[prev2].classList.add("prev2");
    slides2[next2].classList.add("next2");
  }
</script>
