{#
Custom block : Caroussel1
#}
<style>
  body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.items1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.items1 .item1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  z-index: -1;
  opacity: 0;
}

.item1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item1.active1 {
  opacity: 1;
  z-index: 99;
  box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

.item1.prev1 {
  z-index: 2;
  opacity: 0.25;
  transform: translate(-125%, -50%);
}

.item1.next1 {
  z-index: 2;
  opacity: 0.25;
  transform: translate(25%, -50%);
}

.items1 .button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 275px;
  z-index: 100;
}

.button-container .button1 {
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  position: relative;
  opacity: 0.75;
  transition: all 300ms ease-in-out;
}

.button-container .button1:hover {
  opacity: 1;
}

.button-container .button1:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  z-index: -99;
}

.button-container .button1:nth-child(1) {
  float: left;
}

.button-container .button1:nth-child(2) {
  float: right;
}
</style>
<div class="items1">
  <div class="item1 active1">
    <img src="public/img/caroussel1/Mariam horizontale.JPG" alt="">
  </div>
  <div class=" item1 next1">
    <img src="public/img/caroussel1/Cuisine Mariam.JPG" alt="">
  </div>
  <div class="item1">
    <img src="public/img/caroussel1/Neriné.JPG" alt="">
  </div>
  <div class="item1">
    <img src="public/img/caroussel1/Coin religion Nariné.JPG" alt="">
  </div>
  <div class="button-container">
    <div class="button1"><i class="fas fa-angle-left"></i></div>
    <div class="button1"><i class="fas fa-angle-right"></i></div>
  </div>
</div>
<script>
    const slider1 = document.querySelector(".items1");
    const slides1 = document.querySelectorAll(".item1");
    const button1 = document.querySelectorAll(".button1");

    let current1 = 0;
    let prev1 = 3;
    let next1 = 1;

    for (let i = 0; i < button1.length; i++) {
      button1[i].addEventListener("click", () => i == 0 ? gotoPrev1() : gotoNext1());
    }

    const gotoPrev1 = () => current1 > 0 ? gotoNum1(current1 - 1) : gotoNum1(slides1.length - 1);

    const gotoNext1 = () => current1 < 3 ? gotoNum1(current1 + 1) : gotoNum1(0);

    const gotoNum1 = number1 => {
      current1 = number1;
      prev1 = current1 - 1;
      next1 = current1 + 1;

      for (let i = 0; i < slides1.length; i++) {
        slides1[i].classList.remove("active1");
        slides1[i].classList.remove("prev1");
        slides1[i].classList.remove("next1");
      }

      if (next1 == 4) {
        next1 = 0;
      }

      if (prev1 == -1) {
        prev1 = 3;
      }

      slides1[current1].classList.add("active1");
      slides1[prev1].classList.add("prev1");
      slides1[next1].classList.add("next1");
    }
</script>
