{#
Custom block : Caroussel1
#}
<style>
  .carousel {
    position: relative;
    user-select: none;
    height: 33vw;
  }

  .carousel .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
  }

  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  }

  .item.prev {
    z-index: 2;
    opacity: 0;
    transform: translate(-125%, -50%);
  }

  .item.next {
    z-index: 2;
    opacity: 0;
    transform: translate(25%, -50%);
  }

  .carousel .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 49.5vw;
    z-index: 100;
  }

  .button-container .button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
  }

  .button-container .button:hover {
    opacity: 1;
  }

  .button-container .button:before {
    content: "";
    background: url(public/front/img/svg/icon-back-top.svg) center / cover;
    position: absolute;
    filter: var(--fill-filter--primary);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: -99;
  }

  .button-container .button:nth-child(1) {
    float: left;
    transform: rotate(-90deg);
  }

  .button-container .button:nth-child(2) {
    float: right;
    transform: rotate(90deg);
  }
</style>
<div class="carousel" id="carousel1">
  <div class="item active">
    <img src="public/front/img/caroussel1/Mariam horizontale.JPG" alt="">
  </div>
  <div class=" item next">
    <img src="public/front/img/caroussel1/Cuisine Mariam.JPG" alt="">
  </div>
  <div class="item">
    <img src="public/front/img/caroussel1/Neriné.JPG" alt="">
  </div>
  <div class="item">
    <img src="public/front/img/caroussel1/Coin religion Nariné.JPG" alt="">
  </div>
  <div class="button-container">
    <div class="button"><i class="fas fa-angle-left"></i></div>
    <div class="button"><i class="fas fa-angle-right"></i></div>
  </div>
</div>

<script>
  class Carousel {
    constructor(carouselId) {
      this.carousel = document.getElementById(carouselId);
      this.items = this.carousel.querySelectorAll('.item');
      this.buttons = this.carousel.querySelectorAll('.button');

      this.current = 0;
      this.prev = this.items.length - 1;
      this.next = 1;

      this.setupListeners();
    }

    setupListeners() {
      for (let i = 0; i < this.buttons.length; i++) {
        this.buttons[i].addEventListener('click', () => (i === 0 ? this.gotoPrev() : this.gotoNext()));
      }
    }

    gotoPrev() {
      this.current > 0 ? this.gotoNum(this.current - 1) : this.gotoNum(this.items.length - 1);
    }
    gotoNext() {
      this.current < this.items.length - 1 ? this.gotoNum(this.current + 1) : this.gotoNum(0);
    }
    gotoNum(number) {
      this.current = number;
      this.prev = this.current - 1;
      this.next = this.current + 1;

      if (this.next === this.items.length) {
        this.next = 0;
      }
      if (this.prev === -1) {
        this.prev = this.items.length - 1;
      }

      this.items.forEach(item => {
        item.classList.remove('active', 'prev', 'next');
      });

      this.items[this.current].classList.add('active');
      this.items[this.prev].classList.add('prev');
      this.items[this.next].classList.add('next');
    }
  }

  document.addEventListener("DOMContentLoaded", function() {
    for (let carousel of document.querySelectorAll('[id^="carousel"]')) {
      new Carousel(carousel.id);
    }
  });
</script>
