{#
Custom block : Caroussel2
#}
<div class="carousel" id="carousel2">
  <figure class="carousel__item active">
    <img src="public/front/img/caroussel2/Activité 3.JPG" alt="">
    <figcaption class="carousel__legend">
      Il est 17h lorsqu&rsquo;Alexia Philippon, assistante sociale au CADA,
      commence l&rsquo;activité guirlandes. Depuis peu, celle qui s&rsquo;investit
      pour le bien-être des résidents a aussi lancé des ateliers cuisine.
      © Alexia Lamblé
    </figcaption>
  </figure>
  <figure class="carousel__item next">
    <img src="public/front/img/caroussel2/Activité 1.JPG" alt="">
    <figcaption class="carousel__legend">
      Ce soir-là, Adriné, Zainab et Mariam sont les piliers de l&rsquo;activité.
      A Royat, participent davantage que les hommes aux ateliers du centre
      d&rsquo;hébergement. © Alexia Lamblé
    </figcaption>
  </figure>
  <figure class="carousel__item">
    <img src="public/front/img/caroussel2/Activité 3.JPG" alt="">
    <figcaption class="carousel__legend">
      Il est 17h lorsqu&rsquo;Alexia Philippon, assistante sociale au CADA,
      commence l&rsquo;activité guirlandes. Depuis peu, celle qui s&rsquo;investit
      pour le bien-être des résidents a aussi lancé des ateliers cuisine.
      © Alexia Lamblé
    </figcaption>
  </figure>
  <figure class="carousel__item">
    <img src="public/front/img/caroussel2/Activité 1.JPG" alt="">
    <figcaption class="carousel__legend">
      Ce soir-là, Adriné, Zainab et Mariam sont les piliers de l&rsquo;activité.
      A Royat, participent davantage que les hommes aux ateliers du centre
      d&rsquo;hébergement. © Alexia Lamblé
    </figcaption>
  </figure>
  <div class="carousel__button-container">
    <div class="carousel__button"></div>
    <div class="carousel__button"></div>
  </div>
</div>
