{#
Custom block : Caroussel3
#}
<div class="carousel" id="carousel3">
  <figure class="carousel__item active">
    <img src="public/front/img/caroussel3/Extérieur vue montagne.JPG" alt="">
    <figcaption class="carousel__legend">
      Au milieu des reliefs de Royat, le CADA de l&rsquo;association Cecler
      prend place dans l&rsquo;ancien hôtel des Albizzias.
    </figcaption>
  </figure>
  <figure class="carousel__item next">
    <img src="public/front/img/caroussel3/Appart type 2.JPG" alt="">
    <figcaption class="carousel__legend">
      Dans les appartements familiaux, l&rsquo;équipement est sommaire.
      Un salon avec un canapé lit, une table et une kitchenette,
      une petite chambre et une salle de bain.
    </figcaption>
  </figure>
  <figure class="carousel__item">
    <img src="public/front/img/caroussel3/Extérieur vue montagne.JPG" alt="">
    <figcaption class="carousel__legend">
      Au milieu des reliefs de Royat, le CADA de l&rsquo;association Cecler
      prend place dans l&rsquo;ancien hôtel des Albizzias.
    </figcaption>
  </figure>
  <figure class="carousel__item">
    <img src="public/front/img/caroussel3/Appart type 2.JPG" alt="">
    <figcaption class="carousel__legend">
      Dans les appartements familiaux, l&rsquo;équipement est sommaire.
      Un salon avec un canapé lit, une table et une kitchenette,
      une petite chambre et une salle de bain.
    </figcaption>
  </figure>
  <div class="carousel__button-container">
    <div class="carousel__button"></div>
    <div class="carousel__button"></div>
  </div>
</div>
