{#
Custom block : Caroussel3
#}
<div class="carousel" id="carousel3">
  <div class="item active">
    <img src="public/front/img/caroussel3/Extérieur vue montagne.JPG" alt="">
  </div>
  <div class="item next">
    <img src="public/front/img/caroussel3/Appart type 2.JPG" alt="">
  </div>
  <div class="item">
    <img src="public/front/img/caroussel3/Extérieur vue montagne.JPG" alt="">
  </div>
  <div class="item">
    <img src="public/front/img/caroussel3/Appart type 2.JPG" alt="">
  </div>
  <div class="button-container">
    <div class="button"><i class="fas fa-angle-left"></i></div>
    <div class="button"><i class="fas fa-angle-right"></i></div>
  </div>
</div>
