{#
Custom block : Caroussel3
#}
<div class="carousel" id="carousel3">
  <figure class="carousel__item active">
    <img src="public/front/img/caroussel3/Extérieur vue montagne.JPG" alt="">
    <figcaption class="carousel__legend">
      Dans les hauteurs de l&rsquo;agglomération clermontoise, à Royat, le CADA
      de l&rsquo;association Cecler est installé dans un ancien hôtel.
      © Julie Lescarmontier
    </figcaption>
  </figure>
  <figure class="carousel__item next">
    <img src="public/front/img/caroussel3/Appart type 2.JPG" alt="">
    <figcaption class="carousel__legend">
      Dans les appartements familiaux, l&rsquo;équipement est sommaire.
      Une petite chambre, une salle de bain et un salon avec un canapé lit, une
      table et une kitchenette. © Julie Lescarmontier
    </figcaption>
  </figure>
  <figure class="carousel__item">
    <img src="public/front/img/caroussel3/Extérieur vue montagne.JPG" alt="">
    <figcaption class="carousel__legend">
      Dans les hauteurs de l&rsquo;agglomération clermontoise, à Royat, le CADA
      de l&rsquo;association Cecler est installé dans un ancien hôtel.
      © Julie Lescarmontier
    </figcaption>
  </figure>
  <figure class="carousel__item">
    <img src="public/front/img/caroussel3/Appart type 2.JPG" alt="">
    <figcaption class="carousel__legend">
      Dans les appartements familiaux, l&rsquo;équipement est sommaire.
      Une petite chambre, une salle de bain et un salon avec un canapé lit, une
      table et une kitchenette. © Julie Lescarmontier
    </figcaption>
  </figure>
  <div class="carousel__button-container">
    <div class="carousel__button"></div>
    <div class="carousel__button"></div>
  </div>
</div>
