{#
Fields:
- block_src (file): { label: 'Audio', accept: '.mp3' }
- block_ref (text): { label: 'Légende', min: 3, max: 64, required: true }
#}
<section class="block">
  <figure class="audio-block">
    <audio class="audio-block__audio" src="{{ media.path }}">
      Votre navigateur n'arrive pas à lire le MP3, cependant vous pouvez toujours le
      <a href="{{ media.path }}">Télécharger</a>
    </audio>
    <figcaption class="audio-block__legend">{{ json.block_ref }}</figcaption>
  </figure>
</section>
