{#
Fields:
- block_src (file): { label: 'Audio', accept: '.mp3, .mpeg' }
- block_ref (text): { label: 'Légende', min: 3, max: 64, required: true }
#}
<figure class="audio-block">
  <div class="audio-block__content">
    <audio class="audio-block__audio" src="{{ media.path }}">
      Votre navigateur n'arrive pas à lire le MP3, cependant vous pouvez toujours le
      <a href="{{ media.path }}">Télécharger</a>
    </audio>
  </div>
  <figcaption class="audio-block__legend">{{ json.block_ref|raw }}</figcaption>
</figure>
