{#
Fields:
- block_title (text): { label: 'Title', min: 3, max: 50 }
- block_content (textarea): { label: 'Content', min: 10, max: 200 }
#}
<section class="block">
  <h1>A {{ json.block_title }}</h1>
  <div class="content">
    {{ json.block_content|raw }}
  </div>
</section>