{#
Fields:
- block_src (file): { label: 'Image', accept: '.png, .jpg, .jpeg, .gif, .webp, .svg', max: '20MO'}
- block_alt (text): { label: 'Légende', min: 3, max: 128, required: true }
- block_ref (text): { label: 'Texte alternatif', min: 3, max: 64, required: true }
- block_position (select): { label: 'Position de l'image', options: 'Gauche, Droite', required: true }
#}
<section class="block">
  <div class="vidandtxt media--{{ json.block_position }}">
    <figure class="vidandtxt-block">
      <img src="{{ json.block_src }}" alt="{{ json.block_alt }}">
      <figcaption class="vidandtxt-block__legend">{{ json.block_ref }}</figcaption>
    </figure>
  </div>
</section>
