{#
Fields:
- block_content (text): { label: 'Content', min: 5, max: 128, required: true }
#}
<span class="signature contained--small">
  {{ json.block_content|clean_content_for_html|nl2br|raw }}
</span>
