{#
Fields:
- block_title (text): { label: 'Titre', min: 4, max: 64 }
- block_content (textarea): { label: 'Contenu', min: 10, max: 10000, required: true }
#}
<h3>{{ json.block_title|clean_content_for_html|nl2br|raw }}</h3>
<p class="paragraph-em contained--small fs-i">
  {{ json.block_content|clean_content_for_html|nl2br|raw }}
</p>
