{#
  Name: messages.html.twig
  Path: cuej/Front/templates/misc/messages.html.twig
#}

{% if messages is defined and messages is not empty %}
	<ul class="infobox messages">
		{% for message in messages %}
			<li>{{ message }}</li>
		{% endfor %}
	</ul>
{% endif %}