{#
  Name: see.html.twig
  Path: default/Front/templates/pages/Users/see.html.twig

  Variables:
    - {@object} user: User to display:
      - {@int} id: User's id
      - {@string} email: User's email
      - {@string} username: User's username
      - {@string} role: User's role
#}
{% extends 'index.html.twig' %}

{% block content %}
  <h1>@{{ user.username }}</h1>

  <ul>
    <li>
      <h3>Nom d'utilisateur:</h3> {{ user.username }}
    </li>
    <li>
      <h3>Role:</h3> {{ user.role }}
    </li>
  </ul>
{% endblock %}
