{#
  Name: index.html.twig
  Path: blog/Front/templates/index.html.twig

  Global variables:
    - {@string} site_name: Website's name
    - {@string} site_description: Website's description
    - {@string} site_root: Website's root
    - {@string} site_language: Website's language
    - {@string} site_default_route: Website's default route
    - {@array} session: Session's variables
    - {@array} errors: Contains errors to display
#}

{# HTML #}
<!DOCTYPE html>
<html lang="{{ site_language }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ site_name }} - Admin | {% block title %}{% endblock %}</title>

    {# Base #}
    <base href="{{ site_root }}">

    {# JS and CSS blocks #}
    <link rel="stylesheet" href="public/back/css/index.css">
    <link rel="stylesheet" href="public/back/bootstrap-icons-1.11.2/font/bootstrap-icons.min.css">
    <script src="public/back/js/swal.js"></script>

    {# Easter egg #}
    <script src="public/back/js/easter-egg.js" defer></script>

    {% block stylesheet %}{% endblock %}
    {% block javascript %}{% endblock %}
	</head>

	<body class="flex">
    {# Menu #}
    {% include "navigation/menu.html.twig" %}

    {# Display content #}
    <main class="blog-content flex flex-column flex-1">
      {# Display errors / messages if defined #}
      {% include "misc/errors.html.twig" %}
      {% include "misc/messages.html.twig" %}

		  {% block content %}{% endblock %}
    </main>
	</body>
</html>