{% extends "base.article.html.twig" %}

{% block article_content %}

  {# Menu d'actions #}
  <ul class="blog__action-menu">
    <li><a href="./element/list/{{GET.article}}">Visualiser les éléments</a></li>
    <li><a href="./element/add/{{GET.article}}">Ajouter un élément</a></li>
    <li><a href="./element/edit/{{GET.article}}">Éditer un élément</a></li>
    <li><a href="./element/delete/{{GET.article}}">Supprimer un élément</a></li>
  </ul>

  {# Contenu des actions #}
  <main>
    {% block action_content %}{% endblock %}
  </main>
{% endblock %}
