<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ SITE_SETTINGS.name }} -
			{% block title %}Articles
			{% endblock %}
		</title>

		<link rel="stylesheet" href="./public/css/blog.css"> {% block stylesheet %}{% endblock %}{% block javascript %}{% endblock %}
	</head>
	<body>
    <nav class="blog-nav">
      <ul>
        <li class="blog-nav__brand"><a href="?route=articles&action=list">{{ SITE_SETTINGS.name }}</a></li>
      </ul>

      <ul>
        {% if session.user is defined and (session.user_id is not null or session.user is not empty) %}
          <li><a href="?route=user&action=logout">Déconnexion</a></li>
        {% endif %}
      </ul>
    </nav>

		{% if erreurs is defined %}
			<ul class="blog__erreur">
				{% for erreur in erreurs %}
					<li>{{ erreur }}</li>
				{% endfor %}
			</ul>
		{% endif %}

		{% block content %}{% endblock %}
	</body>
</html>
