{% extends "base.html.twig" %}

{% block content %}

  {# Menu d'actions #}
  {% if session.user is defined and (session.user_id is not null or session.user is not empty) and session.user.role == "admin" %}
  <ul class="blog__action-menu blog__action-menu--small">
    <li><a href="/articles/settings/{{GET.article}}">Paramètres de l'article</a></li>
    <li><a href="/element/list/{{GET.article}}">Modifier les éléments</a></li>
  </ul>
  {% endif %}

  {# Contenu des  #}
  {% block article_content %}{% endblock %}
{% endblock %}
